/* for mobile device */

@media screen and (max-width: 572px) {
  /* nav */
  .nav-container,
  nav > ul {
    flex-direction: column;
    margin-top: 10px;
  }
  nav > ul > li {
    margin-top: 20px;
  }

  .logo-container {
    margin-left: 25px;
  }

  /* banner */
  .banner-container {
    background-image: none;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 10px;
  }
  .banner-content {
    background-image: url("images/banner-content-bg.png");
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-position: 30px;
  }
  .banner-image img,
  .banner-content {
    width: 100%;
    margin: 0px;
    text-align: center;
    padding: 15px 30px;
  }

  /* video section */

  .video-play-container .video-gallery {
    grid-template-columns: 1fr;
  }
  .video-play-container .video-gallery .box-container .overlay {
    height: 84%;
  }

  /* play-container */

  .play-container {
    flex-direction: column;
  }
  .play-content {
    width: 100%;
    text-align: center;
    padding: 30px;
  }

  .play-title {
    margin-bottom: 20px;
  }
  .play-image {
    width: 70%;
    margin-left: 50px;
    margin-top: 20px;
  }

  /* footer */

  .footer-description,
  .footer-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    font-size: 0.8rem;
    font-weight: 600;
    gap: 50px;
  }
  .footer-icon {
    font-size: 1.5rem;
    padding-right: 40px;
  }
  .footer-options {
    grid-template-columns: repeat(2, 1fr);
  }
  .last-line {
    width: 60%;
    padding: 0px;
    padding-left: 90px;
  }
}

/* for tablets */

@media screen and (min-width: 572px) and (max-width: 972px) {
  .logo-container {
    margin-left: 30px;
  }

  /* banner */

  .banner-container {
    background-image: none;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 10px;
  }
  .banner-content {
    background-image: url("images/banner-content-bg.png");
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-position: 30px;
  }
  .banner-image img,
  .banner-content {
    width: 100%;
    margin: 0px;
    text-align: center;
    padding: 15px 30px;
  }

  /* video section */

  .video-play-container .video-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .video-play-container .video-gallery .box-container .overlay {
    height: 83%;
  }

  /* play-container */

  .play-container {
    flex-direction: column;
  }
  .play-content {
    width: 100%;
    text-align: center;
    padding: 30px;
  }

  .play-title {
    margin-bottom: 20px;
  }
  .play-image {
    width: 70%;
    margin-left: 50px;
    margin-top: 20px;
  }

  /* category */

  .category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: -100px;
    margin-bottom: 150px;
    width: 80%;
    margin: auto;
  }
  /* footer */

  footer {
    margin-top: 100px;
  }
}
