/* Shared Style */

* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.primary-color {
  color: #ff42a5;
}

.btn-primary {
  background-color: #ff42a5;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 30px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 10px;
}
.btn-sky {
  background-color: #4ec5f7;
}

.gradient-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Nav section Style */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 35px;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.nav-logo {
  width: 40px;
}
.nav-title {
  font-size: 2rem;
}
nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
}

.nav-follow {
  display: flex;
  gap: 10px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px;
}

.fa-youtube {
  color: red;
}

/* Banners section */

.banner-container {
  background-image: url("images/banner-content-bg.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
}

.banner,
.games-video {
  max-width: 950px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
}

.banner-content {
  width: 50%;
}
.banner-image img {
  width: 70%;
  margin-left: 200px;
}
.banner-title {
  font-size: 2rem;
  font-weight: 600;
}

.banner-big-text {
  font-size: 4rem;
  font-weight: 800;
}

.banner-short-text {
  color: #534c64;
  font-size: 1 rem;
  font-weight: 500;
  line-height: 2;
}
/* Game video section */

.video-box {

  width: 225px;
  height: 250px;
}
.box-img {
  width: 100%;
}
.video-title {
  margin-top: 70px;
  text-align: center;
}

.video-description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.video-box:hover{
  border: 3px solid #f948b2;
  border-radius: 10px;
  cursor: pointer;
  filter: brightness(40%);

}



/* Play section */

.play-container {
  margin-top: 0px;
  text-align: right;
  margin-bottom: 0px;
}

.play-content {
  padding: 0px  150px;
}
.play-image img {
  width: 100%;
}

.float-img {
  border-radius: 8px;
  color: #fff;
  width: 240px;
  padding: 40px;
  position: relative;
  bottom: 200px;
  right: 100px;
}

.play-image{
  margin-top: 200px;
}


/* CATERGORY */

.category{
  flex-wrap: wrap;
  gap: 10px;
  margin-top: -110px;
  margin-bottom: 150px;
}
.category-btn{
  width: 180px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.cat-icon{
  width: 30px;
  height: 100%;
  margin-right: 10px;
}

.category-btn:hover{
  border: 1px solid #f948b2;
  color: #f948b2;
  cursor:pointer;
}
/* footer */

footer{
  background: #0B0223;
  color: #fff;
  background-size: cover;
  padding-bottom: 50px;
  
}
.foot-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.footer-description, .footer-icon{
  display: flex;
  justify-content: space-around;
  max-width: 950px;
  margin: auto;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  color: #fff;
}

.footer-short-text2{
  color: #534c64;
  font-size: 1 rem;
  font-weight: 500;
  /* line-height: 2; */
  text-align: center;
}
